<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.mapper.TSysPermissionInitMapper">
  <resultMap id="BaseResultMap" type="com.kevin.entity.TSysPermissionInit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="permission_init" jdbcType="VARCHAR" property="permissionInit" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT * FROM sys_permission_init ORDER BY sort ASC
  </select>
</mapper>